#treetop {
    float:left;
    min-width:300px;
}

.treefolder{
    color:red;
    cursor:pointer;
}

.treefile{
    cursor:pointer;
}


textarea {
    width:500px;
    height:80vh;
}


.hidden {
    display:none;
}

ul:after{
    content:"";
    background:red;
    width:100;
    height:20;
}


.bottomrow{
    position:fixed;
    bottom:0;
    background:#99ffff;
    padding:5px;
    height:40px;
    right:0px;
}
